.header-container {
    // padding: var(--sp-24) var(--sp-50);
    font-family: var(--font-jakarta);
  }
  
  .nav-link-container {
    display: flex;
    gap: var(--sp-80);
  }
  
  .header-logo {
    width: 140.3px;
    height: 37px;
  }
  
  .nav-link-color {
    color: var(--color-black-400);
    transition: all 0.2s ease-in-out;
  }
  
  /* Active link styles */
  .active-link {
    .nav-link-color {
      color: var(--color-black-500);
      font-weight: 600;
    }
  
    position: relative;
  
    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: -4px;
    //   left: 0;
    //   width: 100%;
    //   height: 2px;
    //   background-color: var(--color-black-500);
    // }
  }
  
  @media (max-width: 834px) {
    .nav-link-container {
      gap: var(--sp-40);
    }
  }
  
  @media (max-width: 650px) {
    .header-logo {
      width: 107px;
      height: 28px;
    }
    .nav-link-container {
      display: none;
    }
  }
  